<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>IBM EA Demo</title>
  </head>
  <body>

      <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Apache_HTTP_server_logo_%282016%29.svg" width="30%" height="30%">

    {% if instance_loc == 'gcp' %}
      <img src="https://miro.medium.com/max/1000/0*brH9cM9rnSRx2I-S.png" width="20%" height="20%">
    {% endif %}

    {% if instance_loc == 'aws' %}
      <img src="https://s19386.pcdn.co/wp-content/uploads/2018/10/Powered-by-AWS-logo.png" width="35%" height="35%">
    {% endif %}

    {% if instance_loc == 'azure' %}
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Microsoft_Azure_Logo.svg/1200px-Microsoft_Azure_Logo.svg.png" width="20%" height="20%">
    {% endif %}

      <img src="https://4.bp.blogspot.com/-atH2pV9sLnU/UDvs6et4uKI/AAAAAAAAMUY/KZm69poM5OA/s1600/EnergyAustralia+logo+2012.png" width="30%" height="30%">

      <p></p>
      <hr>
      <iframe src="https://www.ibm.com/cloud/blog/announcements/ibm-cloud-collection-for-ansible" width="100%" height="1000"></iframe>
      <br>
  </body>
  </html>